<h1>CS61A: 计算机程序的构造与解释</h1>

<table mat-table [dataSource]="data">

    <ng-container matColumnDef="lecture">
        <th mat-header-cell *matHeaderCellDef>课程</th>
        <td mat-cell *matCellDef="let element"> {{element.lecture}} </td>
    </ng-container>

    <ng-container matColumnDef="book">
        <th mat-header-cell *matHeaderCellDef>教材</th>
        <td mat-cell *matCellDef="let element"> {{element.book}} </td>
    </ng-container>

    <ng-container matColumnDef="lab">
        <th mat-header-cell *matHeaderCellDef>实验</th>
        <td mat-cell *matCellDef="let element"> {{element.lab}} </td>
    </ng-container>

    <ng-container matColumnDef="work">
        <th mat-header-cell *matHeaderCellDef>作业</th>
        <td mat-cell *matCellDef="let element"> {{element.work}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="column"></tr>
    <tr mat-row *matRowDef="let row; columns: column;"></tr>
</table>

<p>最后更新：2025 年 2 月 1 日</p>

<router-outlet />
